body{
    background-image: url(./imagenes/mucho-dinero-23656953.jpg);
    z-index: -1;
}
h1{
    font-size: 75px;
    font-weight: bolder;
    text-align: center;
}
h2{
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
}

h3{
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
}
.portada{
    display: flex;
    align-items: center;
    flex-direction: column;

    div{
        display: flex;
        justify-content: space-evenly;
        margin: 15px;
        width: 100%;
        button{
            background-color: rgb(218, 248, 109);
            color: black;
            font-weight: bolder;
            height: 50px;
            width: 150px;
            &:hover{
                cursor: pointer;
            }
        }
    }
}

.formularios{
    display: flex;
    width: 50%;
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: rgb(142, 230, 204);
    margin-left: 25%;

    form{
        display: flex;
        //padding: 10px;
        flex-direction: column;
        //height: 250px;
        align-self: center;
        margin: 10px;
        input{
            margin: 15px
        }
    }
}
.msjExito{
    align-items: center;
    background-color: rgb(101, 243, 76);
    display: flex;
    justify-content: space-evenly;
    height: 150px;
    margin: 20px;
}
.mensajes{
    display: flex;
    display: none;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    div{
        display: flex;
        padding: 10px;
    }
    button{
        background-color: rgb(218, 248, 109);
            color: black;
            font-weight: bolder;
            height: 50px;
            width: 150px;
            &:hover{
                cursor: pointer;
            }
    }
}
.deposito{
    display: none;
}
.transferencias{
    display: none;
}
.titulo{
    border: 5px solid rgb(97, 5, 5); 
    background-color: rgba(245, 90, 124, 0.637);
    width: 100%;
    height: 70px;
    display: block;
    padding: 20px;

}